<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webside Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
          <img src="../img/logo.webp" alt="logo">

           <!-- Menu -->
          <ul id="menu-utama">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Nasional</a></li>
            <li><a href="#">Internasional</a></li>
            <li><a href="#">Ekonomi</a></li> 
          </ul>

          <!-- home Search -->
          <form action="#">
            <input type="text" name="Search">
          </form>
        </div>

        <div id="content">
            <div class="sub-artikel">
                <h2>Jadwal Pertandingan Pemain Timnas Indonesia di Luar Negeri Sabtu, 02 Mar 2024 </h2>
                    <a href=""> CNN Indonesia</a>
                   <h6>Sabtu, 02 Mar 2024</h6>
                 <img src="../img/bola.jpeg" alt="">   
                 <p>Pemain-pemain Timnas Indonesia yang berkiprah di luar negeri akan menjalani pertandingan bersama klubnya pada akhir pekan ini. Berikut jadwalnya.
                    Dari Thailand, klub yang dibela Asnawi Mangkualam Bahar Port FC akan menghadapi Koen Kaen United pada Sabtu (2/3). </p> Laga ini akan dimulai pada pukul 18.00 WIB.
                    Dalam tiga laga sebelumnya Asnawi hanya mendapat menit main yang minim. Hal ini membuat netizen kesal. Karena itu diharapkan Asnawi starter dalam pertandingan ini.
                    Dari Belgia, klub yang dibela Sandy Walsh, KV Mechelen akan bertamu ke markas Cercle Brugge. Ini akan menjadi laga yang tidak mudah bagi pemain berposisi bek sayap kanan itu </p>
                    Pada hari yang sama, Sabtu (2/3) malam, klub yang dibela Marselino Ferdinan, KMSK Deinze akan bentrok dengan RSCA Futures. Marselino masuk dalam skuad laga tandang ini.Sehari berikutnya, dari Italia, Jay Idzes akan tampil bersama Venezia melawan Como. Jay sudah rutin mendapat menit bermain dan kemungkinan akan kembali sebagai starter.Pada hari yang sama namun pada Senin (4/3) dini hari WIB, giliran klub Shayne Pattynama akan bertanding. Kali ini lawan yang akan dihadapi adalah jagoan Liga Belgia, Anderlecht.
                    </p>
                    <p>Nasib Timnas Indonesia U-17 untuk lolos ke babak 16 besar Piala Dunia U-17 melalui tim peringkat tiga terbaik akan ditentukan pada laga Selandia Baru vs Meksiko dan Burkina Faso vs Korea Selatan.Pada jadwal Piala Dunia U-17 2023 hari ini, dua pertandingan dari Grup F adalah Jerman vs Venezuela dan Selandia Baru vs Meksiko. Kedua laga ini akan digelar mulai pukul 16.00 WIB. </p>
                   <p>
                     German dan Venezuela juga sudah dipastikan lolos dari Grup F. Untuk duel Selandia Baru vs Meksiko, kedua tim juga masih berpeluang lolos lewat jalur peringkat terbaik.
                     Jika Burkina Faso vs Korea berakhir imbang dengan skor berapapun, ditambah Selandia Baru vs Meksiko imbang 0-0, maka Indonesia dipastikan lolos ke babak 16 besar Piala Dunia U-17 2023. </p>
            </div>
        </div>

           <div id="sidebar">
            <h2> WHO WE ARE</h2>
            <p> kami adalah mahasiswa plj kampus cimone prodi KA yang sedang belajar membuat webside portal sederhana menggunakan bahasa pemograman html.</p>
           
            <h2>Artikel Berdasarkan Katagori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">makanan</a></li>
            </ul>
        </div>

        <div id="footer">
            <p>Dewi Roro Anjani &copy; 2024</p>
        </div>
        </div>
</body>
</html>