<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webside Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
          <img src="../img/logo.webp" alt="logo">

           <!-- Menu -->
          <ul id="menu-utama">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Nasional</a></li>
            <li><a href="#">Internasional</a></li>
            <li><a href="#">Ekonomi</a></li> 
          </ul>

          <!-- home Search -->
          <form action="#">
            <input type="text" name="Search">
          </form>
        </div>

        <div id="content">
            </div>
        

         
            <div class="artikel">
          </div>
         

       

            <div id="content">
                <div class="sub-artikel">
             <h2> Presiden 2024 Prabowo adalah Jendral</h2>
             <a href=""> CNN Indonesia</a>
             <h6>Kamis, 15 Feb 2024</h6>
             <img src="../img/prabowo.jpeg" alt="">
             <p>menjadi kandidat terkuat sebagai Presiden Indonesia berikutnya lantaran unggul berdasarkan hitung cepat (quick count) Pilpres 2024.
                Bahkan Litbang Kompas dan LSI, selaku lembaga yang melakukan quick count, sudah memprediksi Prabowo-Gibran bakal memenangkan satu putaran.
                Akan tetapi, rekapitulasi berjenjang oleh KPU yang dijadikan patokan dalam menetapkan pemenang Pilpres 2024. KPU punya waktu maksimal hingga 20 Maret mendatang. </p>
                <p>
                    menjadi kandidat terkuat sebagai Presiden Indonesia berikutnya lantaran unggul berdasarkan hitung cepat (quick count) Pilpres 2024.Bahkan Litbang Kompas dan LSI, selaku lembaga yang melakukan quick count, sudah memprediksi Prabowo-Gibran bakal memenangkan satu putaran.Akan tetapi, rekapitulasi berjenjang oleh KPU yang dijadikan patokan dalam menetapkan pemenang Pilpres 2024. KPU punya waktu maksimal hingga 20 Maret mendatang.
                    Seiring berjalannya waktu, kode 08 tidak lepas dari sosok Prabowo. Bahkan setelah tidak aktif di Satgultor-81, kode 08 masih terasosiasi dengannya. </p>
                    <p>
           Prabowo lalu menjadi Komandan Jenderal Kopassus ke-15 periode 1995 hingga 1998. Dia menggantikan Subagyo HS. Selama menjadi Danjen Kopassus, Kode 08 masih melekat sebagai identitasnya.Karier Prabowo terus berlanjut di politik usai pensiun dari TNI dengan pangkat terakhir Letnan Jenderal bintang tiga. Alih-alih hilang atau luntur, kode 08 tetap dipakai oleh sebagian orang hingga diketahui banyak orang.Menurut mantan perwira Kopassus itu, Prabowo pun tidak pernah keberatan jika masih diidentikkan dengan kode 08 hingga saat ini.
 </p> 
             <a href="artikel3.html">Baca Selengkapnya...</a>
        </div>
        </div>

           <div id="sidebar">
            <h2> WHO WE ARE</h2>
            <p> kami adalah mahasiswa plj kampus cimone prodi KA yang sedang belajar membuat webside portal sederhana menggunakan bahasa pemograman html.</p>
           
            <h2>Artikel Berdasarkan Katagori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">makanan</a></li>
            </ul>
        </div>

        <div id="footer">
            <p>Dewi Roro Anjani &copy; 2024</p>
        </div>
        </div>
</body>
</html>