<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webside Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
          <img src="../img/logo.webp" alt="logo">

           <!-- Menu -->
          <ul id="menu-utama">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Nasional</a></li>
            <li><a href="#">Internasional</a></li>
            <li><a href="#">Ekonomi</a></li> 
          </ul>

          <!-- home Search -->
          <form action="#">
            <input type="text" name="Search">
          </form>
        </div>

        <div id="content">
            <div class="artikel">
                <img src="../img/bola.jpeg" alt="gambar artikel">
                <h2> Jadwal pemain Sepak Bola Indonesia </h2>
                <p>Kemenangan tersebut semakin menegaskan status Simone Inzaghi sebagai pelatih dengan start terbaik dalam 300 pertandingan pertamanya di Serie A. Ia mencatatkan 179 kemenangan, 50 hasil imbang, dan 71 kali kalah.
                   baca artikel sepakbola, "Simone Inzaghi Sudah 300 Laga di Serie A, Rekornya Mentereng" 
                </p>    
                <a href="artikel1.html">Baca Selengkapnya...</a>
            </div>
        

         
            <div class="artikel">
                <img src="../img/jokowi.jpg" alt="gambar artikel">
                <h2> Presiden Indonesia di french open 2024 hari ini, 
            rabu 6 maret </h2>
            <p>Perdana Menteri (PM) Singapura Lee Hsien Loong angkat bicara tentang hebohnya konser bintang pop country Taylor Swift di negaranya. Sebabnya, Singapura menjadi satu-satunya negara di kawasan Asia Tenggara yang disambangi penyanyi asal Amerika Serikat tersebut dalam tur dunianya, The Eras Tour.
            Baca artikel detiknews, "5 Berita Terpopuler Internasional Hari Ini" selengkapnya 
           </p>    
              <a href="artikel2.html">Baca Selengkapnya...</a>
          </div>
         

       
          <div class="artikel">
             <img src="../img/prabowo.jpeg" alt="gambar artikel">
             <h2> Presiden 2024 Prabowo adalah Jendral</h2>
             <p>Letnan Jenderal (Letjen) TNI (Purn) Prabowo Subianto dilantik sebagai Menteri Pertahanan (Menhan) oleh Presiden Republik Indonesia Ir. Joko Widodo pada tanggal 23 Oktober 2019 dalam Kabinet Indonesia Maju Masa Jabatan 2019-2024.
            Letjen TNI (Purn) Prabowo Subianto adalah anak dari pasangan Soemitro Djojohadikusumo dan Dora Marie Sigar. Beliau merupakan anak ketiga dari empat bersaudara. Kedua kakaknya perempuan; Biantiningsih Miderawati dan Maryani Ekowati, dan satu adik laki-laki, Hashim Djojohadikusumo.
           </p>    
             <a href="artikel3.html">Baca Selengkapnya...</a>
        </div>
        </div>

           <div id="sidebar">
            <h2> WHO WE ARE</h2>
            <p> kami adalah mahasiswa plj kampus cimone prodi KA yang sedang belajar membuat webside portal sederhana menggunakan bahasa pemograman html.</p>
           
            <h2>Artikel Berdasarkan Katagori</h2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">makanan</a></li>
            </ul>
        </div>

        <div id="footer">
            <p>Dewi Roro Anjani &copy; 2024</p>
        </div>
        </div>
</body>
</html>